{% extends "home_layout.html" %}
{% load static %}

{% block homemain %}
    <!--------------MAIN CONTENT--------------->
    <div class="main-content">
        <h2>{{company.name}} Jobs</h2>
        <!-- Populating from database information -->

        <!-- This means we must send variable 'jobs' from backend -->
        {% for job in jobs %}

        <div class="post-container">
            <div class="user-profile">
                <a href="{% url 'job_post' job.slug %}"><img src="{{job.company.companyLogo.url}}"></a>
                <div>
                    <p>{{job.company.name}}</p>
                    <span>{{job.date_created}}</span>
                </div>
            </div>
            <p class="post-text">{{job.title}}</p>
            <div class="job-preview">
                <div class="job-preview-elem">
                    <p>{{job.location}}</p>
                </div>
                <div class="job-preview-elem">
                    <P>{{job.type}}</P>
                </div>
                <!-- Could add experience, salary, etc. -->
            </div>
            <p>{{job.summary}}</p>
            <br>
            <!-- LINK TO JOB POST PAGE -->
            <a href="job_post.html" class="viewMore">View More</a>
            
        </div>
        {% endfor %}
    </div>
{% endblock %}