{% extends "layout1.html" %}
{% load static %}

{% block title %}>Update Profile{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'app/css/job_post_creation.css' %}">
{% endblock %}

{% block body %}
<div class="posting">
<form method="POST" enctype="multipart/form-data">
    
    {% csrf_token %}
    <div class="form-inner">
        <h1>Update Profile</h1>
        
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>           
                {% endfor %} 
            {% endfor %}            
        {% endif %}

        <h3>General Information:</h3>
        <div class="col-md-12">
            <div class="form-group app-label">
                <label class="text-muted">Profile Image:</label><br>
                {{form.image}}
            </div>
            {% if form.image.errors %}
                {% for error in form.image.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

    <h3>Address:</h3>
    <div class="col-md-6">
        <div class="form-group app-label">
            <label class="text-muted">Address Line 1 <span class="text-danger">*</span> :</label><br>
            <div class = "fill-in">
                {{form.address_line1}}
                    </div>
        </div>
        {% if form.address_line1.errors %}
            {% for error in form.address_line1.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}              
    </div>

    <div class="col-md-6">
        <div class="form-group app-label">
            <label class="text-muted">Address Line 2 :</label><br>
            <div class = "fill-in">
                {{form.address_line2}}
            </div>
        </div>
        {% if form.address_line2.errors %}
            {% for error in form.address_line2.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}              
    </div>

    <div class="col-md-6">
        <div class="form-group app-label">
            <label class="text-muted">City <span class="text-danger">*</span> :</label><br>
            <div class = "fill-in">
                {{form.city}}
            </div>
        </div>
        {% if form.city.errors %}
            {% for error in form.city.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}              
    </div>

    <div class="col-md-6">
        <div class="form-group app-label">
            <label class="text-muted">State <span class="text-danger">*</span> :</label><br>
            {{form.state}}
        </div>
        {% if form.state.errors %}
            {% for error in form.state.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}              
    </div>
    
    <h3>Attach a Cover Letter:</h3>
    <div class="col-md-6">
        <div class="form-group app-label">
            <label class="text-muted">Cover Letter :</label><br>
            {{form.cover_letter}}
        </div>
        {% if form.cover_letter.errors %}
            {% for error in form.cover_letter.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}              
    </div>

    <h3>Attach Your Resume:</h3>
    <div class="col-md-6">
        <div class="form-group app-label">
            <label class="text-muted">CV :</label><br>
            {{form.cv}}
        </div>
        {% if form.cv.errors %}
            {% for error in form.cv.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}              
    </div>
        <button type="submit" class="submitBtn btn btn-primary" value="Save Changes">Save Changes</button>
    </div>
    </form>
</div>
{% endblock %}

{% block source %}
    <script src="{% static 'app/js/script.js' %}"></script>

{% endblock %}