{% extends "home_layout.html" %}
{% load static %}

{% block homemain %}
    <!--------------MAIN CONTENT--------------->
    <div class="main-content">
        <div class="container col-md-12" style="flex: 100%;">
            <div class="row" style="display: flex;">
                <div class="col-md-6" style="flex: 100%;">
                    <h2>Applicants</h2>     
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group col-md-3" style="flex: 100%;">
                        <label for="category">Location:</label>
                        {{applicant_form.state}}                          
                    </div>
                    <div class="form-group col-md-3" style="flex: 100%;">
                        <label for="location">Qualifications: </label>
                        {{applicant_form.qualifications}}                                                      
                    </div>     
                    <button type="submit" class="btn btn-primary">Search</button>               
                </form>
            </div>
        </div>            

        {% for user in users %}

        <div class="post-container">
            <div class="user-profile">

                {% if user.resume %}		
                <a href="{% url 'public_profile' user.slug %}"><img src="{{user.resume.image.url}}"></a>
                {% else %}
                <a href="{% url 'public_profile' user.slug %}"><img src="{% static 'app/images/profile3.jpg' %}"></a>
                {% endif %}                
                
                <div>
                    <p><a href="{% url 'public_profile' user.slug %}"">@{{user.username}}</a></p>
                </div>
            </div>      
        </div>
        {% endfor %}
    </div>

{% endblock %}