{% extends "layout1.html" %}
{% load static %}

{% block title %}
Home
{% endblock %}   

{% block head %}
<link rel="stylesheet" href="{% static 'app/css/calendar_and_home.css' %}">
<script src="https://kit.fontawesome.com/98fd1b3455.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
<div class="container">
    <!--------------LEFT SIDEBAR--------------->
    <div class="left-sidebar">
        <div class="imp-links">
            <a href="{% url 'home_page' %}"><img src="{% static 'app/images/news.png' %}"> View Job Postings </a>
            <a href="{% url 'all_companies' %}"><img src="{% static 'app/images/friends.png' %}"> View Companies </a>
        {% if user.role == 'Employer' %}
            <a href="{% url 'app_users' %}"><img src="{% static 'app/images/group.png' %}"> View Applicants </a>
        </div>         
        <div class="imp-links">
            {% if user.resume and user.resume.company %}
            <a href="{% url 'job_post_creation' %}"><img src="{% static 'app/images/add.png' %}"> Add New Job Posting </a>
            {% endif %}
            <a href="{% url 'company_creation' %}"><img src="{% static 'app/images/add-friends.png' %}"> Add New Company </a>
            <a href="{% url 'createMeeting' %}" style="text-decoration:none; color: #f218c3"><img src="{% static 'app/images/add.png' %}"> Schedule a New Interview</a>
        </div>  
        {% else %}
        <a href="{% url 'emp_users' %}"><img src="{% static 'app/images/group.png' %}"> View Employers </a>
        </div>         
        {% endif %}    
    </div>
    <!--------------MAIN CONTENT--------------->
    {% block homemain %}
    {% endblock %}
    <!--------------RIGHT SIDEBAR--------------->
    <div class="right-sidebar">
    </div>
</div>

{% endblock %}

{% block source %}
    <script src="{% static 'app/js/script.js' %}"></script>
{% endblock %}