{% extends "layout1.html" %}
{% load static %}

{% block title %}View Listing{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'app/css/jobPost_and_application.css' %}">
    <script src="https://kit.fontawesome.com/98fd1b3455.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
    <div class="job-post">
        <h1 id="position">{{job.title}} at <a href="{% url 'company_detail' job.company.slug %}">{{job.company}}</a></h1>
        <div class="heading-info">
            <div id="location">Location: {% if job.city %}{{job.city}}, {% endif %}{{job.state}}</div>
            <div id="hours">{{job.type}}</div>
            <div id="date">Date Posted: {{job.date_created}}</div>
        </div>
        <div class="heading-info">
            <div id="salary">Salary: {% if job.salary %}{{job.salary}}{% else %}Not Specified{% endif %}</div>
            <div id="experience">{{job.experience}} Experience</div>
        </div>   
        <div class="heading-info">
            <div id="requirements">Requirements: {% if job.skills %}{{job.skills}}{% else %}Not Specified{% endif %}</div>
        </div>
        <h3>Summary:</h3>
        <p id="summary">{{job.summary}}</p>
        <br>
        <h3>Job Description:</h3>
        <p id = "description">
            {{job.description}}
        </p>

        {% if user.role == 'Applicant' %}
        <a href = "{% url 'apply' job.slug %}">Apply Now!</a>
        {% endif %}
    </div>
{% endblock %}

{% block source %}
    <script src="{% static 'app/js/script.js' %}"></script>
{% endblock %}