{% extends "layout1.html" %}
{% load static %}

{% block title %}Create New Job Posting{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'app/css/job_post_creation.css' %}">
{% endblock %}

{% block body %}
    <div class="posting">
    <form id ="create-job" method='POST' class ="input-group">

        {% csrf_token %}

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
<!--                                <strong>{{ field|escape }}</strong>-->
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        
        <div class="form-inner">
          <h1>Create Your Job Posting</h1>         
            
            {{form.title}}
            {% if form.title.errors %}
                {% for error in form.title.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
            {% endif %} 

            <div class = "row">
                <div class = "col">
                    <div class="dropdown">
                        <label for="state">Work Format: </label>
                        {{form.type}}
                    </div>
                </div>                
                <div class = "col">{{form.salary}}</div>

                {% if form.type.errors %}
                    {% for error in form.type.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                {% endif %} 

                {% if form.salary.errors %}
                    {% for error in form.salary.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                {% endif %}                 
            </div>

            <div class = "row">
                <div class = "col">
                    <div class="dropdown">
                        <label for="state">State: </label>
                        {{form.state}}
                    </div>
                </div>
                <div class = "col">{{form.city}}</div>

                {% if form.state.errors %}
                    {% for error in form.state.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                {% endif %} 

                {% if form.city.errors %}
                    {% for error in form.city.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                {% endif %}                 
            </div> 

            {{form.summary}}
            {% if form.summary.errors %}
                {% for error in form.summary.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
            {% endif %}         
            
            {{form.description}}
            {% if form.description.errors %}
                {% for error in form.description.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
            {% endif %}         

            <div class = "row">
                <div class = "col">
                    <div class="dropdown">
                        <label for="experience">Required Experience: </label>
                        {{form.experience}}
                    </div>
                </div>
                <div class = "col">
                    <div class="dropdown">
                        <label for="category">Field of Work: </label>
                        {{form.category}}
                    </div>
                </div>

                {% if form.experience.errors %}
                    {% for error in form.experience.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                {% endif %} 

                {% if form.category.errors %}
                    {% for error in form.category.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                {% endif %}                 
            </div>                        
            
            <p>Enter relevant skills, separated by commas: </p>
            {{form.skills}}
            {% if form.skills.errors %}
                {% for error in form.skills.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
            {% endif %}      
                     
          
          <button type="submit">Post</button>
        </div>
      </form>
    </div>
{% endblock %}

{% block source %}
    <script src="{% static 'app/js/script.js' %}"></script>
{% endblock %}