{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'app/css/profile.css' %}">
        <title>{% block title %} {% endblock %} - LinkedIncognito</title>
        {% endblock %}
    </head>
    <body>

        <nav>
            <!--Top Bar-->
            <div class="nav-left">
                <!---Corner Logo-->
                <a href="{% url 'home_page' %}"> <img src="{% static 'app/images/Linkedin-Logo.png' %}" class="logo"></a>
                <!--Icons-->
                <ul>
                    <li><img src="{% static 'app/images/notification.png' %}"></li>
                    <!--LINK TO MESSENGER PAGE-->
                    <li> <a href="messenger.html"> <img src="{% static 'app/images/inbox.png' %}"></a> </li>
                    <!--LINK TO CALENDAR PAGE-->
                    <li><a href="calendar.html"><img src="{% static 'app/images/calendar.png' %}"></a></li>                                    
                </ul>
            </div>
            <div class="nav-right">
                <div class="search-box">
                    <img src="{% static 'app/images/search.png' %}">
                    <input type="text" placeholder="Search">
                </div>

                <div class="nav-user-icon online" onclick="settingsMenuToggle()">
                    {% if user.resume %}		
                    <img src="{{user.resume.image.url}}">
                    {% else %}
                    <img src="{% static 'app/images/profile3.jpg' %}">
                    {% endif %}
                </div>
            </div>

            <!--Dropdown settings Menu from pfp-->
            <div class="settings-menu">
                <!--Toggle light and dark mode-->
                <div id="dark-btn">
                    <span></span>
                </div>
                <div class="settings-menu-inner">
                    <!--Entry 1-->
                    <div class="user-profile">
			    {% if user.resume %}		
		                    <img src="{{user.resume.image.url}}">
			    {% else %}
		                    <img src="{% static 'app/images/profile3.jpg' %}">
			    {% endif %}
                        <div>
                            <p>{{user.first_name}} {{user.last_name}}</p>
                            <a href="{% url 'profile' %}">See your profile</a>
                        </div>
                    </div>   
                    <hr>
                    <!--Entry 2-->
                    <div class="user-profile">
                        <img src="{% static 'app/images/feedback.png' %}">
                        <div>
                            <p>Give Feedback</p>
                            <a href="#">Help us to improve the new design</a>
                        </div>
                    </div>   
                    <hr>
                    <!--Entry 3-->
                    <div class="setting-links">
                        <img src="{% static 'app/images/setting.png' %}" class="settings-icon">
                        <a href="#">Settings & Privacy <img src="{% static 'app/images/arrow.png' %}" width="10px"></a>
                    </div>
                    <!-- Entry 4-->
                    <div class="setting-links">
                        <img src="{% static 'app/images/help.png' %}" class="settings-icon">
                        <a href="#">Help & Support <img src="{% static 'app/images/arrow.png' %}" width="10px"></a>
                    </div>
                    <!-- Entry 5-->
                    <div class="setting-links">
                        <img src="{% static 'app/images/display.png' %}" class="settings-icon">
                        <a href="#">Display & Accessibility <img src="{% static 'app/images/arrow.png' %}" width="10px"></a>
                    </div>  
                    <!-- Entry 6-->
                    <div class="setting-links">
                        <img src="{% static 'app/images/logout.png' %}" class="settings-icon">
                        <a href="{% url 'logout' %}">Logout <img src="{% static 'app/images/arrow.png' %}" width="10px"></a>
                    </div>                                                              
                </div>
            </div>
        </nav>
	
	<!--displaying messages from views if theyre there-->
        {% if messages %}
        {% for message in messages %}

        {% if message.tags == 'error' %}
        <div class="alert alert-danger">
            {{message}}
        </div>
        {% else %}
        <div class="alert alert-{{message.tags}}">
            {{message}}
        </div>
        {% endif %}

        {% endfor %}
        {% endif %}


        <!-- body of the page -->
        {% block body %}
        {% endblock %}




        

        <!--Copyright bottom text-->
        <div class="footer">
            <p>Copyright 2022 - LinkedIncognito</p>
        </div>
        {% block source %}
        {% endblock %}
    </body>
</html>