{% extends "layout1.html" %}
{% load static %}

{% block title %}
Profile
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'app/css/profile.css' %}">
{% endblock %}
        

{% block body %}
<!--Profile Page-->
<div class="profile-container">
    <!--Cover Image-->
    <img src="{% static 'app/images/cover.png' %}" class="cover-img">
    <!--Profile Details-->
    <div class="profile-details">
        <!--PFP and name-->
        <div class="pd-left">
            <div class="pd-row">
                {% if object.resume %}		
                    <img src="{{object.resume.image.url}}" class="pd-image">
                {% else %}
                    <img src="{% static 'app/images/profile3.jpg' %}" class="pd-image">
                {% endif %}
                <div>
                    {% if object.role == 'Employer' %}
                    <h3>{{object.first_name}} {{object.last_name}}</h3>
                        {% if object.resume.company %}
                        <p>Works at {{object.resume.company}}</p>
                        {% endif %}
                    {% else %}
                    <h3>@{{object.username}}</h3>
                    {% endif %}
                </div>
            </div>
        </div>        
        {% block profhead %}
        {% endblock %}

    </div>

    <div class="profile-info">
        <!--<div class="info-col">
            <div class="profile-intro">
                <h3>Intro</h3>
                <p class="intro-text">Believe in yourself and you can do anything. <img src="{% static 'app/images/feeling.png' %}"></p>
                <hr>
                <ul>
                    <li> <img src="{% static 'app/images/profile-job.png' %}"> Director at 99media Ltd.</li>
                    <li> <img src="{% static 'app/images/profile-study.png' %}"> Studied at Amity University</li>
                    <li> <img src="{% static 'app/images/profile-study.png' %}"> Went to DPS Delhi</li>
                    <li> <img src="{% static 'app/images/profile-home.png' %}"> Lives in Bangalore, India</li>
                    <li> <img src="{% static 'app/images/profile-location.png' %}"> From Bangalore, India</li>
                </ul>
            </div>
        </div>-->

        <div class="post-col">
            {% if experiences %}
                {% for experience in experiences %}
                <div class="post-container">
                    <div class="user-profile">
                    {% if object.resume %}		
                        <img src="{{object.resume.image.url}}">
                    {% else %}
                        <img src="{% static 'app/images/profile3.jpg' %}">
                    {% endif %}
                        <div>
                            <p>{{experience.position}}</p>
                            <span>At {{experience.company}}</span>
                            <span>From {{experience.start_date}} to {{experience.end_date}}</span>                            
                        </div>
                    </div>     
                    <div>
                        {% if experience.skills %}
                        <br>
                            <p>Relevant Skills: {% for skill in experience.skills %} {{skill}}, {% endfor %}</p>
                        {% endif %}
                    </div>
                    <br>
                    {% if experience.experience %}
                    <p class="post-text">Experience: </p>
                    <p class="post-text">{{experience.experience}}</p>
                    {% endif %}    
                </div>
                {% endfor %}
            {% endif %}
        
            {% if educations %}
                {% for education in educations %}
                <div class="post-container">
                    <div class="user-profile">
                    {% if object.resume %}		
                        <img src="{{object.resume.image.url}}">
                    {% else %}
                        <img src="{% static 'app/images/profile3.jpg' %}">
                    {% endif %}
                        <div>
                            <p>{{education.level}} in {{education.major_subject}}</p>
                            <span>From {{education.institution}}</span>
                            <span>Graduated {{education.graduated}}</span>                            
                        </div>
                    </div>     
                </div>                
                {% endfor %}
            {% endif %}

            {% if postings %}
                {% for post in postings %}
                <div class="post-container">
                    <div class="user-profile">
                        <a href="{% url 'company_detail' post.company.slug %}"><img src="{{post.company.companyLogo.url}}"></a>
                        <div>
                            <p>{{post.title}} at {{post.company}}</p>
                            <span>{{post.date_created}}</span>
                        </div>
                    </div>     
                    <p class="post-text">{{post.summary}}</p>
                    <div class="job-preview">
                        <div class="job-preview-elem">
                            <p>{{post.location}}</p>
                        </div>
                        <div class="job-preview-elem">
                            <P>{{post.type}}</P>
                        </div>
                    </div>
                    <!--can't figure out how to draw these on the same line-->
                    <div style="white-space: nowrap;">
                        {% if user.resume.company == post.company %}
                        <div style="text-align: right; justify-content: right; white-space: nowrap;">
                            <a href="{% url 'view_applications' post.slug %}" class="viewMore">View Applications</a>
                        </div>
                        {% endif %}
                        <div style="text-align: left; justify-content: left; white-space: nowrap;">
                            <a href="{% url 'job_post' post.slug %}" class="viewMore">View More</a>
                        </div>
                    </div>
                </div>                
                {% endfor %}
            {% endif %}
        </div>
</div>

{% endblock %}

{% block source %}
<script src="{% static 'app/js/profile.js' %}"></script>
{% endblock %}