{% extends "profile_layout.html" %}
{% load static %}

{% block profhead %}
    <!--Action buttons-->
    <div class="pd-right">
        {% if user.resume %}
            {% if user.resume.company %}
            <a href="{% url 'company_creation' user.resume.company.id %}"><button type="button"> <img src="{% static 'app/images/friends.png' %}"> Edit Company </button></a>
            {% elif user.role == 'Applicant' %}
            <a href="{% url 'my_applications' %}"><button type="button"> <img src="{% static 'app/images/arrow-down.png' %}"> View My Applications </button></a>
            {% endif %}
            <a href="{% url 'resume_detail' user.resume.slug %}"><button type="button"> <img src="{% static 'app/images/edit.png' %}"> Edit Resume </button></a>
        {% else %}
        <a href="{% url 'create_resume' %}"><button type="button"> <img src="{% static 'app/images/add.png' %}"> Add Resume </button></a>
        {% endif %}
        <br>
    </div>
{% endblock %}