{% extends "profile_layout.html" %}
{% load static %}

{% block profhead %}
    <!--Action buttons-->
    <div class="pd-right">
        <button type="button"> <img src="{% static 'app/images/add-friends.png' %}"> Friend</button>
        <button type="button"> <img src="{% static 'app/images/message.png' %}"> Message</button>
        <br>
        {% if user.resume %}
            <a href="{% url 'resume_detail' user.resume.slug %}"><img src="{% static 'app/images/setting2.png' %}"></a>
        {% else %}
            <a href="{% url 'create_resume' %}"><img src="{% static 'app/images/setting2.png' %}"></a>
        {% endif %}
    </div>
{% endblock %}