{% extends "layout1.html" %}
{% load static %}

{% block title %}Applications{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'app/css/profile.css' %}">
{% endblock %}
        

{% block body %}
<!--Profile Page-->
<div class="profile-container">
    <!--Cover Image-->
    <img src="{% static 'app/images/cover.png' %}" class="cover-img">
    <!--Profile Details-->
    <div class="profile-details">
        <!--PFP and name-->
        <div class="pd-left">
            <div class="pd-row">
                <img src="{{job.company.companyLogo.url}}" class="pd-image">
                <div>
                    <h3><a href="{% url 'job_post' job.slug %}">{{job.title}}</a> at <a href="{% url 'company_detail' job.company.slug %}">{{job.company}}</a></h3>
                    {% if job.state and job.city %}
                        <p>{{job.type}} in {{job.city}}, {{job.state}}</p>
                    {% elif job.state %}
                        <p>{{job.type}} in {{job.state}}</p>
                    {% else %}
                        <p>{{job.type}}</p>
                    {% endif %}

                    <p>Posted: {{job.date_created}}</p>
                </div>
            </div>
        </div>        
    <!--Action buttons-->
    <div class="pd-right">
        <!--MAKE DELETE&EDIT WORK-->
        <a href="{% url 'job_post_creation' job.id %}"><button type="button"> <img src="{% static 'app/images/edit2.png' %}"> Edit Posting </button></a>
        <form action="{% url 'delete_job' job.id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit"> <img src="{% static 'app/images/delete.png' %}"> Delete Job Posting </button>
        </form>        
        <br>
    </div>

    </div>

    <div class="profile-info">
        <div class="post-col">
            {% if apps %}
                {% for app in apps %}
                <div class="post-container">
                    <div class="user-profile">
                    {% if app.applicant.resume %}		
                        <a href="{% url 'public_profile' app.applicant.slug %}"><img src="{{app.applicant.resume.image.url}}"></a>
                    {% else %}
                        <a href="{% url 'public_profile' app.applicant.slug %}"><img src="{% static 'app/images/profile3.jpg' %}"></a>
                    {% endif %}
                        <div>
                            <p><a href="{% url 'public_profile' app.applicant.slug %}">@{{app.applicant.username}}</a></p>      
                        </div>
                    </div>     
                    <div>
                        {% if app.resume %}
                        <div class="col">
                            <strong>Download Resume</strong>
                            <!--need a new download function rip-->
                            <a href="{% url 'download_from_application' attrib_name='resume' id=app.id %}"><button class="btn btn-primary rounded-pill">Download</button></a>                           
                        </div>
                        {% endif %}
                        {% if app.cover_letter %}
                        <div class="col">
                            <strong>Download Coverletter</strong>
                            <!--need a new download function rip-->
                            <a href="{% url 'download_from_application' attrib_name='cover_letter' id=app.id %}"><button class="btn btn-primary rounded-pill">Download</button></a>                                  
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
</div>

{% endblock %}

{% block source %}
<script src="{% static 'app/js/profile.js' %}"></script>
{% endblock %}