* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

:root{
    --body-color: #efefef;
    --nav-color: #8e537f;
    --bg-color: #fff;
    --dark-accent: #8e537f;
    --border-color: #ccc;
    --text-color: #9a9a9a;
    --light-accent: #f1cce7;
}
.dark-theme{
    --body-color: #1c1c1c;
    /*--nav-color: rgb(21, 36, 73);*/
    --bg-color: #000;
    --light-accent: #2e1828;
}

body {
    background: var(--body-color);
    transition: background 0.3s;
}

/* Nav Bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--nav-color);
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    width: 160px;
    margin-right: 45px;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-left ul li {
    list-style: none;
    display: inline-block;
}

.nav-left ul li img {
    width: 28px;
    margin: 0 10px;
}

.nav-user-icon img {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-user-icon {
    margin-left: 30px;
}

.online {
    position: relative;
}

.online::after {
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50px;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}

.search-box {
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search-box img {
    width: 18px;
}

.search-box input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p {
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}

.user-profile small {
    font-size: 12px;
}

.user-profile a {
    font-size: 12px;
    color: #f218c3;
    text-decoration: none;
}

.settings-menu {
    position: absolute;
    width: 90%;
    max-width: 350px;
    background: var(--bg-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.3s;
}

.settings-menu-height {
    max-height: 450px;
}

.settings-menu-inner {
    padding: 20px;
}

.settings-menu-inner hr {
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0px;
}

.settings-links {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.settings-links .settings-icons {
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}

.settings-links a {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;
}

#dark-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    display: flex;
    cursor: pointer;
    transition: padding-left 0.5s, background 0.5s;
}

#dark-btn span {
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
}

#dark-btn.dark-btn-on {
    padding-left: 23px;
    background: #0a0a0a;
    
}

input, textarea { 
    outline: none;
}
   
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 500;
    text-align: center;
    color: #626262;
}

h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}
    
form {  
    border-radius: 30px;
    background: var(--bg-color);
}

.posting {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
}


.form-inner {
    padding: 40px;
 }
   
.form-inner input,
.form-inner textarea,
.fill-in,
.dropdown {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    background: #d0dfe8;
}

.form-inner textarea {
    resize: none;
}

.form-group{
    padding: 0;
}

.dropdown {
    padding-top: 10px;
    padding-bottom: 10px;
}

label {
    color: #626262;
    font-size: 12px;
    margin: 0 auto;
}


.row {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.col {
    width: 400px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    border-bottom: 4px solid #5b3451;
    background: #8e537f; 
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

button:hover {
    background: #5b3451;
} 
   
@media (min-width: 568px) {
    form {
    width: 60%;
    }
}




