*{
    margin:0;
    padding:0;
    font-family: 'poppins', 'sans-serif';
    box-sizing: border-box;
}
:root{
    --body-color: #efefef;
    --nav-color: #8e537f;
    --bg-color: #fff;
    --dark-accent: #8e537f;
    --border-color: #ccc;
    --text-color: #9a9a9a;
    --light-accent: #f1cce7;
}
.dark-theme{
    --body-color: #1c1c1c;
    /*--nav-color: rgb(21, 36, 73);*/
    --bg-color: #000;
    --light-accent: #2e1828;
}
body{
    background: var(--body-color);
    transition: background 0.3s;
}
/*top bar background*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--nav-color);
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}
/*logo formatting*/
.logo{
    width: 160px;
    margin-right: 45px;

}
.nav-left, .nav-right{
    display: flex;
    align-items: center;
}
/*icon positions in left side of top bar*/
.nav-left ul li{
    list-style: none;
    display: inline-block;
}
/*icon formatiing in left side of top bar*/
.nav-left ul li img{
    width: 28px;
    margin: 0 15px;
}
/*user pfp*/
.nav-user-icon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
/*space between icon and search box*/
.nav-user-icon{
    margin-left: 30px;
}
/*the background behind the search box*/
.search-box{
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
/*the search icon*/
.search-box img{
    width: 18px;
}
/*the search box text box*/
.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.online{
    position: relative;
}
/*draws the active bubble*/
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}
/*everythihng below topbar*/
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}
/*left column*/
.left-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70;
    align-self: flex-start;
}
/*right column*/
.right-sidebar{
    background: var(--bg-color);
    padding: 20px;
    border-radius: 4px;
    color: #626262;
    flex-basis: 25%;
    position: sticky;
    top: 70;
    align-self: flex-start;
}
/*center column*/
.main-content{
    flex-basis: 47%;
}
/*the left sidebar links*/
.imp-links a, .shortcut-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}
/*All left sidebar link icons*/
.imp-links a img{
    width: 25px;
    margin-right: 15px;
}
/*for the See More Tag only*/
.imp-links a:last-child{
    color: #1876f2;
}
/*division line at end of list*/
.imp-links{
    border-bottom: 1px solid #ccc;
}
.shortcut-links a img{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}
.shortcut-links p{
    margin: 25px 0;
    color: #626262;
    font-weight: 500;
}
.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.right-sidebar h4{
    font-weight: 600;
    font-size: 16px;
}
.sidebar-title a{
    text-decoration: none;
    color: var(--dark-accent);
    font-size: 12px;
}
.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}
.left-event{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.event p{
    font-size: 12px;
}
.event a{
    font-size: 12px;
    text-decoration: none;
    color: var(--dark-accent);
}
.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--dark-accent);
    color: #fff;
    font-size: 10px;
    padding: 4px 0;
}
.sidebar-ads{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}
.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.online-list .online img{
    width: 40px;
    border-radius: 50%;
}
.online-list .online {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.online-list .online::after{
    top: unset;
    bottom: 5px;
}
.write-post-container{
    width: 100%;
    background: var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}
.user-profile{
    display: flex;
    align-items: center;
}
.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}
.user-profile small{
    font-size: 12px;
}
.post-input-container{
    padding-left: 55px;
    padding-top: 20px;
}
.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}
.add-post-links{
    display: flex;
    margin-top: 10px;
}
.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}
.add-post-links a img{
    width: 20px;
    margin-right: 10px;
}
.post-container{
    width: 100%;
    background: var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}
.user-profile span{
    font-size: 13px;
    color: #9a9a9a;
}
.post-text{
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 15px;
}
.post-text span{
    color: #626262;
    font-weight: 500;
}
.post-text a{
    color: #f218c3;
    text-decoration: none;
}
.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}
.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activity-icons div img{
    width: 18px;
    margin-right: 10px;
}
.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}
.post-profile-icon{
    display: flex;
    align-items: center;
}
.post-profile-icon img{
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.load-more-btn{
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    color: #626262;
    background: transparent;
    border-radius: 4px;
}
.footer{
    text-align: center;
    color: #9a9a9a;
    padding: 10px 0 20px;
    font-size: 13px;
}
.delete-menu {
    position: absolute;
    width: 90%;
    max-width: 350px;
    background: var(--bg-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.3s;
}

.delete-menu-height {
    max-height: 450px;
}

.delete-menu-inner {
    padding: 20px;
}

.delete-menu-inner hr {
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0px;
}

.settings-menu{
    position: absolute;
    width: 90%;
    max-width: 350px;
    background: var(--bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.3s;
}
.settings-menu-height{
    max-height: 450px;
}
.user-profile a{
    font-size: 12px;
    color: #f218c3;
    text-decoration: none;
}
.settings-menu-inner{
    padding: 20px;
}
.settings-menu hr{
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0;
}
.setting-links{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.setting-links .settings-icon{
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;   
}
.setting-links a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;
}
#dark-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background: #ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s, background 0.5s;
}
#dark-btn span{
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
}
#dark-btn.dark-btn-on{
    padding-left: 23px;
    background: #0a0a0a;
}

/**********Profile Page********/
.profile-container{
    padding: 20px 15%;
    color: #626262;
}
.cover-img{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 14px;
}
.profile-details{
    background: var(--bg-color);
    padding: 20px;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.pd-row{
    display: flex;
    align-items: flex-start;
}
.pd-image{
    width: 100px;
    margin-right: 20px;
    border-radius: 6px;
}
.pd-row div h3{
    font-size: 25px;
    font-weight: 600;
}
.pd-row div p{
    font-size: 13px;
}
.pd-row div img{
    width: 25px;
    border-radius: 50%;
    margin-top: 12px;
}
.pd-right button{
    background: var(--dark-accent);
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
}
.pd-right button img{
    height: 15px;
    margin-right: 10px;
}
.pd-right button:first-child{
    background-color: #e4e6eb;
    color: #000;
}
.pd-right{
    text-align: right;
}
.pd-right a{
    background: #e4e6eb;
    border-radius: 3px;
    padding: 12px;
    display: inline-flex;
    margin-top: 30px;
}
.pd-right a img{
    width: 20px;
}
.profile-info{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
}
.info-col{
    flex-basis: 33%;
}
.post-col{
    flex-basis: 65%;
}
.profile-intro{
    background: var(--bg-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.profile-intro h3{
    font-weight: 600;
}
.intro-text{
    text-align: center;
    margin: 10px 0;
    font-size: 15px;
}
.intro-text img{
    width: 15px;
    margin-bottom: -3px;
}
.profile-intro hr{
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 24px 0;
}
.profile-intro ul li{
    list-style: none;
    font-size: 15px;
    margin: 15px 0;
    display: flex;
    align-items: center;
}
.profile-intro ul li img{
    width: 26px;
    margin-right: 10px;
}
.title-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-box a{
    text-decoration: none;
    color: #f218c3;
    font-size: 14px;
}
.photo-box{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 10px;
    margin-top: 15px;
}
.photo-box div img{
    width: 100%;
    cursor: pointer;
}
.profile-intro p{
    font-size: 14px;
}
.friends-box{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 10px;
    margin-top: 15px;
}
.friends-box div img{
    width: 100%;
    cursor: pointer;
    padding-bottom: 20px;
}
.friends-box div{
    position: relative;
}
.friends-box p{
    position: absoluta;
    bottom: 0;
    left: 0;
}
.messenger{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.msg-container{
    width: 100%;
    height: 100%;
    background: var(--bg-color);
}

.job-preview {
    display: flex;
    margin-bottom: 10px;
    
}

.job-preview-elem {
    border-style: solid;
    border-color: var(--light-accent);
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: var(--light-accent);
}

.application-action button{
    background: var(--dark-accent);
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
    height: 40px;
}
.application-action button img{
    height: 15px;
    margin-right: 10px;
}
.application-action button:first-child{
    background-color: #e4e6eb;
    color: #000;
}
.application-action{
    text-align: right;
}
